body {
  font-family: 'Montserrat', sans-serif;
}

td{
  width: 200px;
  height: 200px;
}

img{
  width: 100%;
}

#rincian, #menu{
  background-color:#e7eaed;
  height: 100%;
}

figure { display: table; }

figcaption{
  background-color: white;
  margin: auto;
}

